ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  list-style: none;
  width: 100%;
  padding: 0px;
}

.cardLi {
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

.everyimg {
  margin: 0;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;

    &:hover {
      transform: scale(1.1, 1.1);
      transition-duration: 1ms;
    }
  }
}

dd {
  text-align: center;
  margin-top: 5px;
}
