.list {
  margin: 0px 100px;
}

#logo {
  display: inline-block;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0px 0px 30px;
}

.cate {
  display: inline;
  float: right;
  color: #555555;
  text-decoration: none;
  margin: 25px 30px 0px 0px;
}

.introEach {
  display: block;
  background-color: #f4f4f2;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 20px;
}

.eachTitle {
  font-weight: bold;
  font-size: 20px;
}

.decaf {
  width: 40px;
  margin-bottom: -8px;
}
