@import '../../../../styles/mixin.scss';

.Form {
  @include flex($direction: column);
  width: 300px;
  padding: 50px 20px 30px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
}
