@import '../../Common.scss';
.Form {
  @include flex($direction: column);
  padding: 50px 20px 30px 20px;
  width: 300px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
}
