@import '../../Common.scss';

%message-shared {
  @include flex($justify: space-between);
  margin: 10px 20px;
}

.Nav {
  @extend %message-shared;

  a {
    text-decoration: none;
    color: inherit;
  }

  h1 {
    font-size: 25px;
  }

  .navItems {
    @extend %message-shared;
  }

  .navItems {
    padding: 0;
  }

  .navItem:not(:last-child) {
    margin-right: 15px;
  }

  .navTitle {
    font-family: 'Dancing Script', cursive;
  }
}
