@mixin flex($align: center, $justify: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin border($height, $color) {
  height: $height;
  width: 100%;
  margin: 5px 0;
  background-color: $color;
}
