@import '../../../../../styles/mixin.scss';

.Footer {
  @include flex($justify: space-between, $align: flex-start);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: black;

  .footerColumn {
    @include flex($justify: flex-start, $direction: column);
    margin: 10px;
  }

  .footerItem {
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
    text-align: center;
  }
}
