@import '../../../Common.scss';

.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @include flex($justify: space-between, $align: flex-start);
  padding: 5px;
  background-color: black;

  .footerColumn {
    @include flex($justify: flex-start, $direction: column);
    margin: 10px;
  }

  .footerItem {
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
  }
}
