$theme-color: #eeefef;

%flex-center {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0 175px 25px 175px;
  background-color: $theme-color;
}

@keyframes heartFliping {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg) translateY(-20px);
  }
  100% {
    transform: rotateY(0);
  }
}

.Detail {
  .secondNav {
    .title {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: 60px;
      margin: 0 175px 25px 175px;
      &Coffee {
        position: relative;
        top: -30px;
        font-size: 30px;
      }
      &Menu {
        opacity: 0.3;
      }
    }
  }
  .detailMain {
    .detail {
      display: flex;
      justify-content: space-between;
      margin: 0 175px;
      img {
        width: 45%;
        height: 45%;
      }
      &Info {
        width: 55%;
        margin-left: 40px;
        &Title {
          display: flex;
          justify-content: space-between;
          padding-bottom: 30px;
          border-bottom: 2px solid black;
          &Name {
            display: flex;
            flex-direction: column;
            h1 {
              font-size: 25px;
              padding-bottom: 10px;
            }
            span {
              font-size: 14px;
            }
          }
          .fa-heart {
            margin: 15px 5px 0 0;
            font-size: x-large;
            font-weight: normal;
            opacity: 0.3;
            animation: heartFliping 4s ease-in-out infinite;
            .fa-heart.redHeart {
              color: red;
              opacity: 0.6;
              font-size: x-large;
              font-weight: 900;
            }
          }
        }
        &Description {
          padding: 30px 0;
          font-size: 16.5px;
        }
        &Nutrition {
          display: flex;
          justify-content: space-between;
          padding: 22px 0;
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          font-size: 20px;
          span {
            padding: 0 12px;
          }
        }
        &NutritionDetails {
          display: flex;
          > div {
            width: 50%;
            margin: 20px 0;
            > div {
              display: flex;
              justify-content: space-between;
            }
          }
          > div:first-child {
            border-right: 1px dotted rgba(0, 0, 0, 0.2);
          }
          span {
            padding: 0 12px 22px 12px;
            font-size: 15px;
          }
        }
        &Alergy {
          display: flex;
          align-items: center;
          height: 50px;
          padding: 12px;
          font-size: 15px;
          background-color: rgba(0, 0, 0, 0.05);
        }
        &Review {
          &Title {
            margin: 35px 0 20px 0;
            padding-bottom: 7px;
            font-size: 20px;
            font-weight: bold;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          }
          &Comment {
            div {
              margin-bottom: 7px;
            }
            div > span:first-child {
              font-weight: bolder;
              font-size: 13px;
            }
            div > span:last-child {
              font-weight: normal;
              font-size: 14px;
            }
            #reviewForm {
              input {
                display: block;
                height: 30px;
                width: 100%;
                padding-left: 12px;
                margin: 30px 0 80px 0;
                border: none;
                background-color: rgba(0, 0, 0, 0.05);
                font-size: 15px;
                &::placeholder {
                  color: rgba(0, 0, 0, 0.4);
                }
                &:focus {
                  outline: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .detailFooter {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 130px;
    color: white;
    background-color: #2c2a29;
    div {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
    ul {
      list-style: none;
      li {
        margin: 10px 0 10px 0;
      }
    }
    h6 {
      margin-bottom: 12px;
    }
  }
}
