@import '../../../styles//mixin.scss';

.Detail {
  margin: 0 10px;
  .detail__outer-container {
    padding: 0 20px;
    padding-bottom: 200px;
  }

  .ingredientAllegy {
    padding: 10px 5px;
    margin-top: 5px;
    background-color: lightgray;
  }

  .detailIngredient {
    @include flex($justify: space-between);
    font-size: 14px;
  }

  .detailTitle {
    @include flex($justify: space-between);
    padding: 0 5px;
  }

  .detailImg {
    width: 100%;
  }

  .diviedGrid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: minmax(200px, 0.5fr) minmax(300px, 1fr);
  }

  h3 {
    margin: 10px 5px;
    font-size: 20px;
  }

  h2 {
    margin: 15px 5px;
    font-size: 25px;
  }

  .red {
    color: red;
    font-weight: 900;
  }

  table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;

    td,
    tr {
      text-align: center;
      vertical-align: middle;
    }

    thead {
      tr,
      td {
        padding: 12px;
      }
      tr {
        td {
          font-size: 18px;
        }
        border-bottom: 2px solid gray;
      }
    }
    tbody {
      width: 100%;
      tr:first-child {
        opacity: 0;
        font-size: 1px;
      }

      tr,
      td {
        padding: 8px;
      }

      tr {
        margin-top: 25px;
      }

      td:nth-child(4) {
        border-right: 1px solid gray;
      }
    }
  }
}
