.review {
  &Title {
    margin: 35px 0 20px 0;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font: {
      size: 20px;
      weight: bold;
    }
  }

  &Comment {
    div {
      margin-bottom: 7px;
    }

    div > span:first-child {
      margin-right: 5px;
      font: {
        size: 13px;
        weight: bolder;
      }
    }

    div > span:last-child {
      font: {
        size: 14px;
        weight: normal;
      }
    }

    #reviewList {
      li {
        font: {
          size: 14px;
          weight: normal;
        }
        margin-bottom: 7px;
        button {
          border: none;
          background-color: white;
        }
      }
    }

    #reviewForm {
      input {
        display: block;
        height: 30px;
        width: 100%;
        padding-left: 12px;
        margin: 30px 0 80px 0;
        border: none;
        background-color: rgba(0, 0, 0, 0.05);
        font-size: 15px;

        &::placeholder {
          color: rgba(0, 0, 0, 0.4);
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
