.secondNav {
  &Title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 60px;
    margin: 0 175px 25px 175px;

    &Coffee {
      position: relative;
      top: -30px;
      font-size: 30px;
    }
    &Menu {
      opacity: 0.3;
    }
  }
}
