.CoffeeCategory {
  .coffeeCategory {
    margin: 20px 0 15px 0;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: lightgray;
  }
  .coffeeCategoryName {
    margin-right: 20px;
  }

  .coffeeCategorySubName {
    margin-left: 10px;
  }
}
